@model Passport_Visa_Management_System.PassportVisaManagementSystemService.ApplyVisa
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <link href="~/Style/cancelVisa.css" rel="stylesheet" />
    <body id="applypassportbody">
        <div class="main">

            <h1>Visa Cancellation</h1>
            <div class="containerpassport">
                <div class="apply-passport-content">
                    @using (Html.BeginForm())
                    {

                        <div class="form-textbox">
                            <label for="userid">User ID</label>
                            @Html.TextBoxFor(p => p.UserId, new { @readonly = "readonly", @Value = @Request.Cookies["UserName"].Value.ToString(), Username = @Request.Cookies["UserName"].Value.ToString(), id = "userid" })

                        </div>
                        <div class="form-textbox">
                            <label for="passportNo">Passport No</label>
                            @*<input type="text" name="userid" id="userid" />*@
                            @*
                                @Html.TextBoxFor(p => passs, new { placeholder = "UserId", Class = "input" })*@
                            @Html.TextBox("passportNo")
                        </div>
                        <div class="form-textbox">
                            <label for="VisaNumber">Visa No</label>
                            @Html.TextBoxFor(x => x.VisaNumber)
                        </div>
                        <div class="form-textbox">
                            <label for="issuedate">Issue Date</label>
                            @Html.TextBoxFor(x => x.DateOfIssue, new { id = "issuedate", type = "date" })
                        </div>
                        <div class="Apply">
                            <input type="submit" name="submit" id="submit" class="submit" value="Cancel Visa" />
                        </div>
                    }
                </div>
            </div>

        </div>
    </body>
}

