@model Passport_Visa_Management_System.PassportVisaManagementSystemService.ApplyVisa
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <link href="~/Style/applyVisa.css" rel="stylesheet" />
    <body id="applyvisabody">
        <div class="main">

            <h1>Apply Visa</h1>
            <div class="containerpassport">
                <div class="apply-passport-content">

                    <div class="form-textbox">
                        <label for="userid">User ID</label>
                        @Html.TextBoxFor(x => x.UserId, new { @readonly = "readonly", @Value = @Request.Cookies["UserName"].Value.ToString(), Username = @Request.Cookies["UserName"].Value.ToString(), id = "userid" })
                    </div>
                    <div class="form-textbox">
                        <label for="countries">Country</label>
                        @if (ViewBag.CountryDD != null)
                        {
                            @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.CountryDD, "CountryId", "CountryName"))
                        }
                    </div>
                    <div class="form-textbox">
                        <label for="applicationdate">Date</label>
                        @Html.TextBoxFor(x => x.DateOfApplication, new { id = "applicationdate", type = "date" })
                    </div>
                    <div class="form-textbox">
                        <label for="Occupation">Occupation</label>
                        @Html.DropDownListFor(x => x.Occupation,
                        new List<SelectListItem>
                            {
                            new SelectListItem { Value = "-1" , Text = "Select" },
                            new SelectListItem { Value = "Student" , Text = "Student" },
                            new SelectListItem { Value = "Private Employee" , Text = "Private Employee" },
                            new SelectListItem { Value = "Government Employee" , Text = "Government Employee" },
                            new SelectListItem { Value = "Self Employee" , Text = "Self Employee" },
                            new SelectListItem { Value = "Retired Employee" , Text = "Retired Employee" }
                            })
                    </div>
                    <div class="Apply">
                        <input type="submit" name="submit" id="submit" class="submit" value="Apply" />
                    </div>
                </div>
            </div>

        </div>
    </body>
}
