@model Passport_Visa_Management_System.PassportVisaManagementSystemService.User

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{

}
<div class="form-wrap">
    <div class="tabs">
        <h3 class="signup-tab"><a class="active" href="#signup-tab-content">Sign Up</a></h3>
        <h3 class="login-tab"><a href="#login-tab-content">Login</a></h3>
    </div><!--.tabs-->

    <div class="tabs-content">
        <div id="signup-tab-content" class='@ViewBag.signupActive'>

            @using (Html.BeginForm(new { AccountType = "SignUp" }))
            {
                
                @Html.TextBoxFor(x => x.FirstName, new { placeholder = "First Name", Class = "input" });
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })


                @Html.TextBoxFor(x => x.SurName, new { placeholder = "Sur Name", Class = "input" });
                @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })


                @Html.TextBoxFor(x => x.DateOfBirth, new { placeholder = "Date Of Birth", Class = "input" });
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })

                @Html.TextBoxFor(x => x.Address, new { placeholder = "Address", Class = "input" });
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })


                @Html.TextBoxFor(x => x.ContactNo, new { Value = "", placeholder = "Contact No", Class = "input" });
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

                @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email Address", Class = "input" });
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })

                @Html.TextBoxFor(x => x.Qualification, new { placeholder = "Qualification", Class = "input" });
                @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })

                @Html.DropDownListFor(model => model.Gender,
                    new List<SelectListItem> {
                       new SelectListItem { Value = "-1" , Text = "Select Gender" },
                       new SelectListItem { Value = "Male" , Text = "Male" },
                       new SelectListItem { Value = "Female" , Text = "Female" },
                       new SelectListItem { Value = "Trans" , Text = "Trans" }

                    }, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                @Html.DropDownListFor(model => model.ApplyType,
           new List<SelectListItem>
            {
                new SelectListItem { Value = "-1" , Text = "Select Apply Type" },
                 new SelectListItem { Value = "passport" , Text = "Passport" },
                 new SelectListItem { Value = "visa" , Text = "Visa" }
            }, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.ApplyType, "", new { @class = "text-danger" })

                if (ViewBag.HintQuestionDD != null)
                {

                    @Html.DropDownListFor(m => m.HintQuestionId, new SelectList(ViewBag.HintQuestionDD, "Id", "Questions", "--Select Hint Question--"), new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.HintQuestionId, "", new { @class = "text-danger" })

                }
                @Html.TextBoxFor(x => x.HintAnswer, new { placeholder = "Hint Answer", Class = "input" });
                @Html.ValidationMessageFor(model => model.HintAnswer, "", new { @class = "text-danger" })

                <input type="submit" class="button" value="Sign Up">
            }

            <div class="help-text">
                <p>By signing up, you agree to our</p>
                <p><a href="#">Terms of service</a></p>
            </div><!--.help-text-->
        </div><!--.signup-tab-content-->

        <div id="login-tab-content" class='@ViewBag.signinActive'>
            @*<form class="login-form" action="" method="post">*@
            @using (Html.BeginForm(new { AccountType = "SignIn" }))
            {
                @Html.TextBoxFor(p => p.UserId, new { placeholder = "UserId", Class = "input" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })


                @Html.PasswordFor(p => p.Password, new { placeholder = "Password", Class = "input" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                <input type="submit" class="button" value="Login">

                @*<input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username">
            <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
            <input type="checkbox" class="checkbox" id="remember_me">
            <label for="remember_me">Remember me</label>*@


            }
            @*</form>*@<!--.login-form-->
            <div class="help-text">
                <p><a href="#">Forget your password?</a></p>
            </div><!--.help-text-->
        </div><!--.login-tab-content-->
    </div><!--.tabs-content-->
</div><!--.form-wrap-->
@*@using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>User Name</td>
                <td>@Html.TextBoxFor(x=>x.UserName)</td>

            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.PasswordFor(x=>x.Password)</td>

            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>

            </tr>

        </table>
        if (ViewBag.C != null)
        {
            @ViewBag.C
        }

    }*@

